.prev_action_btn {
  background-image: url('../../../assets/prev_btn_logo.png');
  min-width: 30px;
  min-height: 30px;
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
