/* Pixel css */

:root {
  --base-size: 1px;
}

/* Pixel -> Height */
.hx-1 { height: calc(var(--base-size) * 1); }
.hx-2 { height: calc(var(--base-size) * 2); }
.hx-3 { height: calc(var(--base-size) * 3); }
.hx-4 { height: calc(var(--base-size) * 4); }
.hx-5 { height: calc(var(--base-size) * 5); }
.hx-6 { height: calc(var(--base-size) * 6); }
.hx-7 { height: calc(var(--base-size) * 7); }
.hx-8 { height: calc(var(--base-size) * 8); }
.hx-9 { height: calc(var(--base-size) * 9); }
.hx-10 { height: calc(var(--base-size) * 10); }
.hx-11 { height: calc(var(--base-size) * 11); }
.hx-12 { height: calc(var(--base-size) * 12); }
.hx-13 { height: calc(var(--base-size) * 13); }
.hx-14 { height: calc(var(--base-size) * 14); }
.hx-15 { height: calc(var(--base-size) * 15); }
.hx-16 { height: calc(var(--base-size) * 16); }
.hx-17 { height: calc(var(--base-size) * 17); }
.hx-18 { height: calc(var(--base-size) * 18); }
.hx-19 { height: calc(var(--base-size) * 19); }
.hx-20 { height: calc(var(--base-size) * 20); }
.hx-21 { height: calc(var(--base-size) * 21); }
.hx-22 { height: calc(var(--base-size) * 22); }
.hx-23 { height: calc(var(--base-size) * 23); }
.hx-24 { height: calc(var(--base-size) * 24); }
.hx-25 { height: calc(var(--base-size) * 25); }
.hx-26 { height: calc(var(--base-size) * 26); }
.hx-27 { height: calc(var(--base-size) * 27); }
.hx-28 { height: calc(var(--base-size) * 28); }
.hx-29 { height: calc(var(--base-size) * 29); }
.hx-30 { height: calc(var(--base-size) * 30); }
.hx-31 { height: calc(var(--base-size) * 31); }
.hx-32 { height: calc(var(--base-size) * 32); }
.hx-33 { height: calc(var(--base-size) * 33); }
.hx-34 { height: calc(var(--base-size) * 34); }
.hx-35 { height: calc(var(--base-size) * 35); }
.hx-36 { height: calc(var(--base-size) * 36); }
.hx-37 { height: calc(var(--base-size) * 37); }
.hx-38 { height: calc(var(--base-size) * 38); }
.hx-39 { height: calc(var(--base-size) * 39); }
.hx-40 { height: calc(var(--base-size) * 40); }
.hx-41 { height: calc(var(--base-size) * 41); }
.hx-42 { height: calc(var(--base-size) * 42); }
.hx-43 { height: calc(var(--base-size) * 43); }
.hx-44 { height: calc(var(--base-size) * 44); }
.hx-45 { height: calc(var(--base-size) * 45); }
.hx-46 { height: calc(var(--base-size) * 46); }
.hx-47 { height: calc(var(--base-size) * 47); }
.hx-48 { height: calc(var(--base-size) * 48); }
.hx-49 { height: calc(var(--base-size) * 49); }
.hx-50 { height: calc(var(--base-size) * 50); }
.hx-51 { height: calc(var(--base-size) * 51); }
.hx-52 { height: calc(var(--base-size) * 52); }
.hx-53 { height: calc(var(--base-size) * 53); }
.hx-54 { height: calc(var(--base-size) * 54); }
.hx-55 { height: calc(var(--base-size) * 55); }
.hx-56 { height: calc(var(--base-size) * 56); }
.hx-57 { height: calc(var(--base-size) * 57); }
.hx-58 { height: calc(var(--base-size) * 58); }
.hx-59 { height: calc(var(--base-size) * 59); }
.hx-60 { height: calc(var(--base-size) * 60); }
.hx-61 { height: calc(var(--base-size) * 61); }
.hx-62 { height: calc(var(--base-size) * 62); }
.hx-63 { height: calc(var(--base-size) * 63); }
.hx-64 { height: calc(var(--base-size) * 64); }
.hx-65 { height: calc(var(--base-size) * 65); }
.hx-66 { height: calc(var(--base-size) * 66); }
.hx-67 { height: calc(var(--base-size) * 67); }
.hx-68 { height: calc(var(--base-size) * 68); }
.hx-69 { height: calc(var(--base-size) * 69); }
.hx-70 { height: calc(var(--base-size) * 70); }
.hx-71 { height: calc(var(--base-size) * 71); }
.hx-72 { height: calc(var(--base-size) * 72); }
.hx-73 { height: calc(var(--base-size) * 73); }
.hx-74 { height: calc(var(--base-size) * 74); }
.hx-75 { height: calc(var(--base-size) * 75); }
.hx-76 { height: calc(var(--base-size) * 76); }
.hx-77 { height: calc(var(--base-size) * 77); }
.hx-78 { height: calc(var(--base-size) * 78); }
.hx-79 { height: calc(var(--base-size) * 79); }
.hx-80 { height: calc(var(--base-size) * 80); }
.hx-81 { height: calc(var(--base-size) * 81); }
.hx-82 { height: calc(var(--base-size) * 82); }
.hx-83 { height: calc(var(--base-size) * 83); }
.hx-84 { height: calc(var(--base-size) * 84); }
.hx-85 { height: calc(var(--base-size) * 85); }
.hx-86 { height: calc(var(--base-size) * 86); }
.hx-87 { height: calc(var(--base-size) * 87); }
.hx-88 { height: calc(var(--base-size) * 88); }
.hx-89 { height: calc(var(--base-size) * 89); }
.hx-90 { height: calc(var(--base-size) * 90); }
.hx-91 { height: calc(var(--base-size) * 91); }
.hx-92 { height: calc(var(--base-size) * 92); }
.hx-93 { height: calc(var(--base-size) * 93); }
.hx-94 { height: calc(var(--base-size) * 94); }
.hx-95 { height: calc(var(--base-size) * 95); }
.hx-96 { height: calc(var(--base-size) * 96); }
.hx-97 { height: calc(var(--base-size) * 97); }
.hx-98 { height: calc(var(--base-size) * 98); }
.hx-99 { height: calc(var(--base-size) * 99); }
.hx-100 { height: calc(var(--base-size) * 100); }

/* Pixel -> Width */
.wx-1 { width: calc(var(--base-size) * 1); }
.wx-2 { width: calc(var(--base-size) * 2); }
.wx-3 { width: calc(var(--base-size) * 3); }
.wx-4 { width: calc(var(--base-size) * 4); }
.wx-5 { width: calc(var(--base-size) * 5); }
.wx-6 { width: calc(var(--base-size) * 6); }
.wx-7 { width: calc(var(--base-size) * 7); }
.wx-8 { width: calc(var(--base-size) * 8); }
.wx-9 { width: calc(var(--base-size) * 9); }
.wx-10 { width: calc(var(--base-size) * 10); }
.wx-11 { width: calc(var(--base-size) * 11); }
.wx-12 { width: calc(var(--base-size) * 12); }
.wx-13 { width: calc(var(--base-size) * 13); }
.wx-14 { width: calc(var(--base-size) * 14); }
.wx-15 { width: calc(var(--base-size) * 15); }
.wx-16 { width: calc(var(--base-size) * 16); }
.wx-17 { width: calc(var(--base-size) * 17); }
.wx-18 { width: calc(var(--base-size) * 18); }
.wx-19 { width: calc(var(--base-size) * 19); }
.wx-20 { width: calc(var(--base-size) * 20); }
.wx-21 { width: calc(var(--base-size) * 21); }
.wx-22 { width: calc(var(--base-size) * 22); }
.wx-23 { width: calc(var(--base-size) * 23); }
.wx-24 { width: calc(var(--base-size) * 24); }
.wx-25 { width: calc(var(--base-size) * 25); }
.wx-26 { width: calc(var(--base-size) * 26); }
.wx-27 { width: calc(var(--base-size) * 27); }
.wx-28 { width: calc(var(--base-size) * 28); }
.wx-29 { width: calc(var(--base-size) * 29); }
.wx-30 { width: calc(var(--base-size) * 30); }
.wx-31 { width: calc(var(--base-size) * 31); }
.wx-32 { width: calc(var(--base-size) * 32); }
.wx-33 { width: calc(var(--base-size) * 33); }
.wx-34 { width: calc(var(--base-size) * 34); }
.wx-35 { width: calc(var(--base-size) * 35); }
.wx-36 { width: calc(var(--base-size) * 36); }
.wx-37 { width: calc(var(--base-size) * 37); }
.wx-38 { width: calc(var(--base-size) * 38); }
.wx-39 { width: calc(var(--base-size) * 39); }
.wx-40 { width: calc(var(--base-size) * 40); }
.wx-41 { width: calc(var(--base-size) * 41); }
.wx-42 { width: calc(var(--base-size) * 42); }
.wx-43 { width: calc(var(--base-size) * 43); }
.wx-44 { width: calc(var(--base-size) * 44); }
.wx-45 { width: calc(var(--base-size) * 45); }
.wx-46 { width: calc(var(--base-size) * 46); }
.wx-47 { width: calc(var(--base-size) * 47); }
.wx-48 { width: calc(var(--base-size) * 48); }
.wx-49 { width: calc(var(--base-size) * 49); }
.wx-50 { width: calc(var(--base-size) * 50); }
.wx-51 { width: calc(var(--base-size) * 51); }
.wx-52 { width: calc(var(--base-size) * 52); }
.wx-53 { width: calc(var(--base-size) * 53); }
.wx-54 { width: calc(var(--base-size) * 54); }
.wx-55 { width: calc(var(--base-size) * 55); }
.wx-56 { width: calc(var(--base-size) * 56); }
.wx-57 { width: calc(var(--base-size) * 57); }
.wx-58 { width: calc(var(--base-size) * 58); }
.wx-59 { width: calc(var(--base-size) * 59); }
.wx-60 { width: calc(var(--base-size) * 60); }
.wx-61 { width: calc(var(--base-size) * 61); }
.wx-62 { width: calc(var(--base-size) * 62); }
.wx-63 { width: calc(var(--base-size) * 63); }
.wx-64 { width: calc(var(--base-size) * 64); }
.wx-65 { width: calc(var(--base-size) * 65); }
.wx-66 { width: calc(var(--base-size) * 66); }
.wx-67 { width: calc(var(--base-size) * 67); }
.wx-68 { width: calc(var(--base-size) * 68); }
.wx-69 { width: calc(var(--base-size) * 69); }
.wx-70 { width: calc(var(--base-size) * 70); }
.wx-71 { width: calc(var(--base-size) * 71); }
.wx-72 { width: calc(var(--base-size) * 72); }
.wx-73 { width: calc(var(--base-size) * 73); }
.wx-74 { width: calc(var(--base-size) * 74); }
.wx-75 { width: calc(var(--base-size) * 75); }
.wx-76 { width: calc(var(--base-size) * 76); }
.wx-77 { width: calc(var(--base-size) * 77); }
.wx-78 { width: calc(var(--base-size) * 78); }
.wx-79 { width: calc(var(--base-size) * 79); }
.wx-80 { width: calc(var(--base-size) * 80); }
.wx-81 { width: calc(var(--base-size) * 81); }
.wx-82 { width: calc(var(--base-size) * 82); }
.wx-83 { width: calc(var(--base-size) * 83); }
.wx-84 { width: calc(var(--base-size) * 84); }
.wx-85 { width: calc(var(--base-size) * 85); }
.wx-86 { width: calc(var(--base-size) * 86); }
.wx-87 { width: calc(var(--base-size) * 87); }
.wx-88 { width: calc(var(--base-size) * 88); }
.wx-89 { width: calc(var(--base-size) * 89); }
.wx-90 { width: calc(var(--base-size) * 90); }
.wx-91 { width: calc(var(--base-size) * 91); }
.wx-92 { width: calc(var(--base-size) * 92); }
.wx-93 { width: calc(var(--base-size) * 93); }
.wx-94 { width: calc(var(--base-size) * 94); }
.wx-95 { width: calc(var(--base-size) * 95); }
.wx-96 { width: calc(var(--base-size) * 96); }
.wx-97 { width: calc(var(--base-size) * 97); }
.wx-98 { width: calc(var(--base-size) * 98); }
.wx-99 { width: calc(var(--base-size) * 99); }
.wx-100 { width: calc(var(--base-size) * 100); }
